@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Change this value to adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 0, 0.3); /* Adjust the transparency of the scrollbar */
  border-radius: 10px; /* Rounded edges for the scrollbar */
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 0, 0.3) transparent;
}
